*.*.orig
*.usertasks
*.sou
*.user
_ReSharper.*/
*.ReSharper
*.nupkg
*.userprefs
*.pidb
**/test-results/**
test-results/
.DS_Store
bin/
obj/
*.suo
guard_claws-*.zip
guard_claws.sln.cache
!/packages/*/lib/*.dll